{{! 
    매장 목록 템플릿 

}}
                    

 <div id="contents_center" class="wrapped-content">

    <form id="frmShopList" class="full-width" action="">
        <div class="txt-center">
            <h3 class="title txt-center"><span class="glyphicon glyphicon-check"></span> {{TITLE}}</h3>
        </div>
        <hr/>
        
        {{#each storeList}}
        <div class="row">
            	<div class="col-xs-8" style="margin-top:10px;" >
            		<span class="glyphicon glyphicon-check"></span>
            		&nbsp;{{name}}
                </div>
            	<div class="col-xs-4" style="text-align:right;">
				    <button type="button" class="btn btn-primary btn-sm" data-val="{{sid}}">매장정보보기  <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
        </div>
        <div class="col-xs-12 div-line"></div>   
        
        {{/each}}
        <div class="clear"></div>
        
    </form>
 
 </div>