<div id="contents_center" class="wrapped-content modal-confirm">
    <div class="txt-center">
        <h4 class="title txt-center">{{title}}</h4>
    </div>
    <hr>
    <div class="progress round blue">
        <span class="meter ui-progressbar-overlay" style="width:100%;background:url('assets/images/animated-overlay.gif');"></span>
    </div>
    <div class="txt-center">
       <h6 class="subheader">{{text}}</h6>
    </div>
</div>