<?xml version='1.0' encoding='utf-8'?>
<widget id="net.wholook.app.user" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>wholookuser</name>
    <description>
        wholook is fun
    </description>
    <author email="help@wholook.net" href="http://wholook.net">
        wholook Team
    </author>
    <content src="index.html" />
    <access origin="http://dev.wholook.net" subdomains="true" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    
</widget>
