<div id="contents_center" class="wrapped-content">
    <div class="txt-center">
        <h6 class="title txt-center loading-text">{{loading_text}}</h6>
    </div>
    <hr>
    <div class="progress round blue">
        <span class="meter ui-progressbar-overlay" style="width:100%;background:url('assets/images/animated-overlay.gif');"></span>
    </div>
</div>