<div id="contents_center" class="wrapped-content">
	<div class="txt-center">
		<h3 class="title txt-center"><i class="icon-users"></i>본 인 인 증</h3>
	</div>
	<hr>
	<form id="frmID" class="full-width" action="">
		<input type="text" name="phoneno" id="phoneno" placeholder="(-없이) 01012345678" />
		<div class="clearfix"></div>
		<input type="text" name="name" id="name" placeholder="이름입력" />
		<div class="clearfix"></div>
		<a href="#" id="btnSubmit" class="button full-width"><b>입력완료</b></a>
	</form>
</div>