<div id="contents_center" class="wrapped-content">
	<div class="txt-center">
		<h3 class="title txt-center"><i class="icon-edit"></i>인증번호 입력</h3>
	</div>
	<hr>
	
	<div class="txt-center">
		<h4 class="subheader">인증번호를 입력해 주세요</h4>
	</div>
	<div class="clearfix"></div>
	<form id="frmFillCode" class="full-width" action="">
	<input type="text" name="certiNum" id="certiNum" placeholder="인증번호">
	<div class="clearfix"></div>
	<a href="#" id="btnSubmit" class="button full-width">입력완료</a>
	</form>
	<div class="clearfix"></div>
	<div class="txt-center">
		<h4 class="subheader">남은시간 : 200 초</h4>
	</div>
</div>
