<div id="contents_center" class="wrapped-content">       
	<div class="panel">
	    <div class="panel-heading">
	        <h4 class="panel-title">
	            <bold>나의 단골 매장</bold>
	        </h4>
	    </div>
	    <div class="panel-body">
	        <ul class="list-group">
	            <li class="list-group-item">후룩텔레콤<span class="badge">VIP</span></li>
	        </ul>
	    </div>
	    <div class="panel-footer">
	        <div class="input-group">
	            <span class="input-group-btn">
	                <button class="btn blue" id="btnQRCode" type="button" onclick="scan($('#shopCode'))"><i class="glyphicon glyphicon-qrcode"></i> </button>
	            </span><input type="text" class="form-control" id="shopCode" placeholder="매장 코드 입력" >
	            <span class="input-group-btn">
	                <button class="btn blue" id="btnSelectShop" type="button" onclick="showShopInfo($('#shopCode').text())"> <b>매장선택</b>&nbsp;  <i class="fa icon-right-bar"></i></button>
	            </span>
	       </div> 
	    </div>
	</div>
	
	<div class="panel">
	    <div class="panel-heading">	                                 
	        <div class="row">
	            <h4 class="panel-title">
	                <div class="col-xs-12">
	                    초대매장
	                </div>
	            </h4>
	        </div>
	    </div><!-- 제목-->
	    <div class="panel-body">
	        <ul class="list-group">
	            {{#each data}}
	                <li class="list-group-item">
	                    <a href="#" onclick="showShopInfo( {{this.biz.id}} )">
	                        
	                        <div class="ui-corner-all ui-icon-arrow-r ui-btn-icon-right">
	                            <span id="biz-id" style="display:none;">{{this.biz.id}}</span>
	                            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; {{this.biz.title}}
	                        </div>
	                    </a>
	                </li>
	            {{else}}
	                </ul>
	                <p>초대매장이 존재하지 않습니다.</p>
	                <ul>
	            {{/each}}
	            
	        </ul>	
	    </div>
	</div><!-- 하나의 글 -->	
</div>