<div id="contents_center" class="wrapped-content">	
	<div class="panel panel-info">
		<div class="panel-heading">
			이용약관	
		</div>
		<div class="panel-body height-half">
			<small>
				<br>
				<p> 환영합니다.</p>
				<br>
				<p>
					후룩 서비스를 이용해 주셔서 감사합니다. 후룩은 다양한 인터넷과 모바일 서비스(Application)를 여러분이 가장 편안하고 친근하게 이용할 수 있는 방법으로 제공하고 있습니다. 여러분이 조금만 시간을 내서 약관을 읽어주신다면 여러분과 후룩은 더욱 가까운 사이가 될 것이라고 믿습니다.
				</p>
			</small>	
		</div>
		<div class="panel-footer">
	    	<label>
	        	<input type="checkbox" id="agree1"> 동의합니다.
	        </label>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			개인정보취급방침
		</div>
		<div class="panel-body height-half">
			<small>
				<br>
				<br>
				<p> 개인정보 수집 및 이용에 대한 동의</p>
				<br>
				<p>1. 수집하는 개인정보의 항목</p>
				<br>
				<p>가. 후룩은 이용자의 회원가입, 원할한 고객 서비스의 제공을 위해 서비스 가입 시 아래와 같은 개인정보를 필수항목으로 수집하고 있습니다.</p>
				<br>
				<p>- 이용자의 전화번호, 단말기 주소록에 저장된 연락처 전화번호, 기기고유번호 ( UUID 또는 IMEI), 유심일번호, 단말기의 OS 및 버젼등</p>
				<br>
				<br>
				<p>나. 서비스 이용과정에서 생성되는 정로로서 이용자 상태정보, 관계가 있는 매장과의 정보, 쿠키, 방문일시, 서비스 이용 기록, 불량 사용 기록, 생년월일,단말기 하드웨어 정보, IP주소 등의 정보들이 수집될 수 있습니다.</p>
				<br>
				<p>다. 유료 서비스 이용 과정에서 결제 등을 위하여 불가피하게 필요한 때에는 신용카드 정보, 통신사 정보, 상품권 번호 등과 같이 결제에 필요한 정보가 수집될 수 있습니다.</p>
				<br>
				<p>2. 개인정보의 수집 및 이용목적</p>
				<br>
				<p>가. 서비스 기본 기능의 제공 :</p>
				<br>
				<p>후룩은 이용자의 전화번호 및 이용자의 전화기 내의 전화번호부에 저장되어 있는 제3자의 전화번호를 수집, 이용하여 자동추천 및 선물등과 같은 후룩의 서비스를 제공합니다. 또한 후룩은 이용자의 가입시에 기기고유번호( UUID 또는 IMEI)와 유심번호를 수집하고 저장하여 이용자의 전화번호와 조합하여 개인식별을 위한 후룩 계정으로 사용하게 됩니다. 이용자 상태정보, 후룩이용자의 이름,전화번호등이 자신의 상태를 설명하기 위한 정보로써 제3자에게 공개될수 있습니다.</p>
				<br>
				<p>나. 향상된 후룩 서비스의 제공 :</p>
				<br>
				<p>후룩은 후룩 서비스를 원할하게 제공하고 더욱 향상된 이용자 경험을 드리기 위해 필요한 개인정보를 수집합니다. 즉, 이용자가 동의한 이용약관에 따라 서비스 기본 기능과 여러 특화된 기능을 제공하기 위해서는 이용자의 본인 여부나 연령, 계정이나 연락처 및 사용기기의 확인이 필요합니다. 이용자의 개인정보는 연락처에 등록된 다른 이용자나, 이용자와 친구일 수도있는 다른 이용자의 검색이나 등록, 또는 알림을 위해서 활용되기도 합니다.</p>
				<br>
				<p>다. 이용자 안내 및 거래의 이행 :</p>
				<br>
				<p>이용자에게 개별적으로 알려 드릴 사항이 있는 때나, 서비스 이용과 관련하여 문의나 분쟁이 있는 경우, 유료서비스 이용 시 컨텐츠 등의 전송이나 배송, 요금 정산을 위해서 이용자의 개인정보가 활용됩니다.</p>
				<br>
				<p>라. 신규 서비스 개발 및 마케팅 :</p>
				<br>
				<p>이용자에게 새로운 맞춤형 서비스를 제공해드리기 위한 통계적 분석, 각종 이벤트나 광고성 정보의 제공, 법령 등에 규정된 의무의 이행, 법령이나 이용약관에 반하여 이용자에게 피해를 줄 수 있는 잘못된 이용행위의 방지를 위해서 이용자의 개인정보가 활용됩니다.</p>
				<br>
				<p>3. 개인정보의 보유 및 이용기간</p>
				<br>
				<p>이용자의 개인정보는 개인정보의 수집 및 이용목적이 달성되면 관련 법령 또는 회사 내부방침에 의해 보존할 필요가 있는 경우를 제외하고는 지체 없이 파기됩니다.</p>
				<br>
				<p>더 자세한 내용에 대해서는 <a href="#">개인정보취급방침</a> 을 참고하시기 바랍니다.</p>
				<br>
				<br>
			</small>		
		</div>
		<div class="panel-footer">
	    	<label>
	        	<input type="checkbox" id="agree2"> 동의하고 계속진행합니다.
	        </label>
		</div>
	</div>
</div>