(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['setIdentificationNo'] = template(function (Handlebars,depth0,helpers,partials,data) {
  this.compilerInfo = [4,'>= 1.0.0'];
helpers = this.merge(helpers, Handlebars.helpers); data = data || {};
  


  return "<div id=\"contents_center\" class=\"wrapped-content\">\n	<div class=\"txt-center\">\n		<h3 class=\"title txt-center\"><i class=\"icon-edit\"></i>인증번호 입력</h3>\n	</div>\n	<hr>\n	\n	<div class=\"txt-center\">\n		<h4 class=\"subheader\">인증번호를 입력해 주세요</h4>\n	</div>\n	<div class=\"clearfix\"></div>\n	<form id=\"frmFillCode\" class=\"full-width\" action=\"\">\n	<input type=\"text\" name=\"certiNum\" id=\"certiNum\" placeholder=\"인증번호\">\n	<div class=\"clearfix\"></div>\n	<a href=\"#\" id=\"btnSubmit\" class=\"button full-width\">입력완료</a>\n	</form>\n	<div class=\"clearfix\"></div>\n	<div class=\"txt-center\">\n		<h4 class=\"subheader\">남은시간 : 200 초</h4>\n	</div>\n</div>\n";
  });
})();