   <div id="contents_center" class="wrapped-content">

        <form id="frmChooseShop" class="full-width" action="">
        <div class="txt-center">
            <h3 class="title txt-center"> 구매 매장 선택</h3>
        </div>
        <hr/>
            
            <article id="format-link" class="format-link" style="margin-bottom:-5px;">
                <p class="icon-bg icon-cloud"></p>
                <div class="wrapped-content">
                    1. 폰을 구매한 매장을 등록하는 화면 입니다. <br/>
                    2. 매장 코드를 입력하거나, 매장에 비치된 QR코드를 찍으십시요. <br/>
                    
                </div>
            </article>
            <hr/>
            <!-- Button Set 1 -->
            <div class="row">
                <div class="col-xs-12">
                   <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn blue" id="btnQRCode" type="button"><i class="glyphicon glyphicon-qrcode"></i> </button>
                        </span><input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn blue" id="btnSelectShop" type="button"> <b>매장선택</b>&nbsp;  <i class="fa icon-right-bar"></i></button>
                        </span>
                   </div>
                </div>
            </div>
            <!-- Button Set 1 -->
            
            <div class="clearfix"></div>
            <!-- Button Set 2 -->
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" id="btnSubmit"class="button round full-width"><i class="icon-upload"></i> 선택완료</a>
                </div>
                <div class="col-xs-6">
                    <a href="#" id="btnSkip" class="button round full-width red"><i class="icon-rocket"></i> SKIP</a>
                </div>
            </div>
            <!-- Button Set 2 -->
            
            <div class="clearfix"></div>
            
            <div class="row">
             <div class="col-xs-12">
                 <div style="width:70%;float:left;">
                    <h4 class="title"><i class="icon-book-open">&nbsp;</i> 요청매장</h4>
                 </div>
                 <div style="width:30%;float:left;padding-top:15px;text-align:right;">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                 </div>
             </div>
            </div>
             
            <div class="row">
             <div id="gallery" class="gallery-container four-column photoswipe">
                    <a href="assets/gallery/gallery01.jpg" class=""><img src="assets/gallery/gallery01.jpg" alt="Budha"></a>
                    <a href="assets/gallery/gallery02.jpg" class=""><img src="assets/gallery/gallery02.jpg" alt="Angry Alien"></a>
                    <a href="assets/gallery/gallery03.jpg" class=""><img src="assets/gallery/gallery03.jpg" alt="The Eye"></a>
                    <a href="assets/gallery/gallery04.jpg"><img src="assets/gallery/gallery04.jpg" alt="Zombie"></a>
             </div>
            </div>
            
        </form>
</div>