<div id="contents_center" class="wrapped-content">
    <form id="frmLagacy" class="full-width" action="">
    <div class="txt-center">
        <h3 class="title txt-center"><i class="icon-attention"> </i>기존 사용이력 알림</h3>
    </div>
    <hr/>
        
        <article id="format-link" class="format-link" style="margin-bottom:-5px;">
            <p class="icon-bg icon-attention"></p>
            <div class="wrapped-content">
                    기존에 사용된 이력이 있는 전화번호 입니다.<br/>
                    기존에 사용된 이력이 있는 전화번호 입니다.<br/>
                    기존에 사용된 이력이 있는 전화번호 입니다.<br/>
                    기존에 사용된 이력이 있는 전화번호 입니다.<br/>
            </div>
            <hr/>
        </article>
    
        <a href="#" id="btnNewRegister" class="button full-width"><i class="icon-user-1"></i><b> 신규이용</b></a>
        <a href="#" id="btnLagacyUser" class="button red full-width"><i class="icon-mobile-1"></i><b> 기존 데이터유지 + 매장인증요청</b></a>
    </form>
</div>