<div id="contents_center" class="wrapped-content modal-confirm">
    <div class="txt-center">
        <h4 class="title txt-center">{{title}}</h4>
    </div>
    <hr>
    <div class="txt-center">
        <h6 class="title txt-center">{{text}}</h6>
    </div>
    <div class="txt-center">
        <a id="btnModalConfirm" href="#" class="button round tiny hover">확인</a>
    </div>
</div>